div {
    display:block;
}
#nxt{
    display: block;
}
*{
    box-sizing: border-box;
}
.home_container{
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height:100vh;
    padding-top: 20px;
   
}
body{
    padding:0.23%;
    background: url(https://cdn.wallpapersafari.com/22/21/s74W2G.jpg) no-repeat top ;
    background-position: top -200px center;
}
body, html {
        display: flex;
        flex-direction: column;
        margin: 0;
        font-family: Poppins,sans-serif;
        background: #0f0d1e;
        color: #fff;
    }
    
 body, html {
        overflow-x: hidden;
    }
.header_container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1376px;
    width: 100%;
    z-index: 10;
}
.header_logoContainer{
    flex:1 1;
    display: flex;
    justify-content: flex-start;

}
.header_menuContainer{
    flex:1 1;
}
.menu_container{
    display:flex;
    align-items: center;
    justify-content: center;

}
.menu_item{
    font-family: 'Times New Roman', Times, serif;
    font-size: 14px;
    font-style:normal;
    font-weight: 500;
    line-height: 20px;
    padding-right: 18px;
    margin:0 10px;
    background: url=("https://img.icons8.com/officexs/16/000000/circled-up-right-2.png");
    
}
a{
    color:inherit;
    text-decoration:none;
}
.select_container{
    display: flex;
    align-items: center;
    position:relative;
}
.Select_text{
    display: flex;
    align-items: center;
    justify-content:center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size:14px ;
    font-weight:500 ;
    font-style:normal;
    line-height: 21px;
    margin:0 10px;
}
.header_buttonContainer{
    display: flex;
    flex:1 1;
    justify-content: flex-end;
    
}
.button_container{
    display:flex ;
    align-items:center;
    justify-content: center;
    padding:13px 32px;
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;

}
.button_primary{
    display:flex ;
    align-items:center;
    justify-content: center;
    flex-direction: row;
    background:#4f3cc8;
    border-radius: 10px;
}
/*.img{
    width:400px;
    height: 400px;

}*/
.home_maincontainer, .Home_footer{
    width: 100%;
    display: flex;
    text-align: center;
    justify-content: center;
}
.home_maincontainer{
    z-index: 2;
    flex-direction: column; 
}
 .title_container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 150px;
    margin-bottom: 160px;   

 }
 .h6{font-family: Poppins,sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    display: flex;
    text-align: center;
    letter-spacing: 1.5px;
    color: #4d495d;
    
 }
 .Title_titleContainer{
    display: inline;
    max-width: 882px;
    background: linear-gradient(93.85deg,#7affd8 -6.23%,#fff 44.85%,#6351d7 100.38%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
  h1,h2{
    font-family: Poppins,sans-serif;
    font-style: normal;
    font-weight: 600;   
    align-items: center;
    text-align: center;
    color: #fff;
  }
    h1{
    margin: 20px;
    font-size: 70px;
    line-height: 110%;
    letter-spacing: -1.5px;
    }
 .Title_trusted {
    color: #b4b4c7;
    margin-top: 12px;
    font-weight:500;
 }

    h5 {
    font-family: Poppins,sans-serif;
    font-style: normal;
    text-align: center;
     }
    .Title_CTAcontainer
    {
        display: flex;
        margin-top:60px;
    }
  .Title_insured{
    margin-right:30px;
  }
  .button_innerContainer{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .btn_secondary {
    flex-direction: row;
    padding: 1.5%;
    border-radius: 10px;
    background-blend-mode: overlay;
    background: linear-gradient(115.26deg,#4010ff 4.79%,#67ffd5 99.36%),linear-gradient(119.78deg,#fff 5.43%,hsla(0,0%,100%,0) 75.01%);
  }
  .Button_secondaryInnerBackground 
  {
    width: 100%;
    background: #0f0d1e;
    border-radius: 10px;
}
.Button_secondaryInnerContainer 
{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 13px 32px;
    flex-direction: row;
}
.KPIs_container {
    display: flex;
    max-width: 899px;
    width: 100%;
    margin-bottom: 209px;
    align-items: flex-start;
    padding-left: 100px;
}
.KPIs_yield{
    display:flex ;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex:8 1;
    padding-left: 100px;
}
.KPIs_title {
    font-family: Poppins,sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    line-height: 130%;
    display: flex;
    align-items: center;
    text-align: center;
    color: #fff;
}
.KPIs_desc{
    font-family:Poppins,sans-serif;
    font-size:18px ;
    font-weight:300;
    font-style: normal;
    line-height:26px;
    margin-top:12px;
    letter-spacing: .2px;
    color:#777187;

}   
.KPIs_coverage {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 16 1;
    border-right: 1px solid #777187;
    border-left: 1px solid #777187;
    padding-left: 100px;
}
.KPIs_Title{
    font-family:poppins,sans-serif ;
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    line-height: 130%;
    display: flex;
    align-items: center;
    text-align: center;
    color: #fff;

}
.KPIs_gradientcontainer
{
    display: inline;
    background: linear-gradient(346.6deg,#fff -68.6%,#51ffcb 116.69%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.KPIs_Desc{
    font-family:Poppins,sans-serif;
    font-size:18px ;
    font-weight:300;
    font-style: normal;
    line-height:26px;
    margin-top:12px;
    letter-spacing: .2px;
    color:#777187;
}
.KPIs_liquidity{
    display:flex ;
    flex-direction:column;
    align-items: flex-end;
    justify-content: center;
    flex:8 1;
    padding-left: 100px;
}
.KPIs__title{
    font-family:poppins,sans-serif ;
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    line-height: 130%;
    display: flex;
    align-items: center;
    text-align: center;
    color: #fff;
}
.KPIs__desc{
    font-family:Poppins,sans-serif;
    font-size:18px ;
    font-weight:300;
    font-style: normal;
    line-height:26px;
    margin-top:12px;
    letter-spacing: .2px;
    color:#777187;
}
.Assetdiversification_container{
    display: flex;
    flex-direction: column;
    align-items:space-between;
    max-width: 1121px;
    width:100%;
    min-height: 843px;
    margin-bottom: 211px;
    position:relative;
}
.Assetdiversification_headline{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding-left: 120px;
}
.AssetDiversification_description {
    margin-top: 20px;
    max-width: 470px;
    text-align: left;
    
}
 h2{margin: 0;
    font-size: 48px;
    line-height: 130%;
   
 }
 .Assetdiversification_details {
    max-width: 470px;
    margin-top: 42px;
    font-family: Poppins,sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 25px;
    letter-spacing: .5px;
    color: #b4b4c7;
    
}
  p{display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
.AssetDiversification_box{
    position: absolute;
    width:100%;
    
}
.AssetDiversification_innerBox {
    width: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    
}
.box_container,  .box_desktoporder
 {
  display: flex;
}
.Boxs_boxGroup1 {
    margin-right: 20px;
    margin-top: 395px;
}
.Boxs_boxContainer{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 20px;
    height: 212px;
    width: 256px;
    padding: 28px;
    border-radius: 25px;
    background: linear-gradient(181.12deg,rgba(119,113,135,.15) .96%,rgba(119,113,135,0) 139.33%);
    border: 1px solid #3e385b;
    box-sizing: border-box;
}
 
 .Boxs_iconsContainer {
    display: flex;
    position: relative;
 }
 .Boxs_mainIcons{
    display: flex;
    width: 72px;
    height: 72px;
    align-items: center;
    justify-content: center;
    background: linear-gradient(182.13deg,rgba(189,179,255,.2) -21.81%,rgba(189,179,255,0) 104.23%);
    backdrop-filter: blur(10px);
    border-radius: 18px;
 }
 .Boxs_shieldIcons{
    z-index: 10;
    position: absolute;
    left: 50px;
    top: 50px;
 }
 .Box_Text {
    display: flex;
    position: relative;
 }
.Box_Text{
    font-family: Poppins,sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
    color: #fff;
}

.Boxs_learn_Border {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1px;
    width: 256px;
    height: 220px;
    border-radius: 25px;
    background: #fff;
}

.Boxs_learn_Container {
    background: #0f0d1e;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    padding: 24px;
    box-sizing: border-box;
    border-radius: 25px;
}

.Boxs_learn_Text{
    max-width: 190px;
    margin: 4px;
    font-family: Poppins,sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 140%;
    letter-spacing: .5px;
    color: #fff;
}
.Boxs_CTAContainer {
    display: flex;
    width: 100%;
    justify-content: flex-end;
}
.Boxs-boxGroup2{
    margin-right:20px;
    margin-top: 90px;
}
.Boxs_boxcontainer{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 20px;
    height: 212px;
    width: 256px;
    padding: 28px;
    border-radius: 25px;
    background: linear-gradient(181.12deg,rgba(119,113,135,.15) .96%,rgba(119,113,135,0) 139.33%);
    border: 1px solid #3e385b;
    box-sizing: border-box
}
.Boxs_text{
        font-family: Poppins,sans-serif;
        font-style: normal;
        font-weight: 600;
        font-size: 18px;
        line-height: 27px;
        color: #fff
}
.Boxs_responsiveOrder{
    display: none;
}
.Partnerships_container{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
        width: 100%;
        margin-bottom: 216px;
}
.Partnerships_headline{
    margin-bottom: 60px;
}
.Partnerships_title{
    margin-top: 12px;
    max-width: 590px;
}
.Partnerships_paragraph {
    font-family: Poppins,sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 25px;
    letter-spacing: .5px;
    max-width: 562px;
    color: #b4b4c7;
    text-align: center
}
.Brands_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 64px 60px 26px;
    max-width: 1122px;
    width: 100%;
    mix-blend-mode: normal;
    border: 1px solid #403b61;
    box-sizing: border-box;
    background: linear-gradient(181.12deg,rgba(119,113,135,.15) .96%,rgba(119,113,135,0) 139.33%);
    -webkit-backdrop-filter: blur(4px);
    backdrop-filter: blur(4px);
    border-radius: 25px;
}
.Brands_gridContainer{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 20px;
    gap: 20px;
}
.Brands_brand, .Brands_withGradient {
    display: flex;
    align-items: center;
    flex: 1 1;
}

.GradiantBorder_container{
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1px;
    background: #3e385b;
    border-radius: 25px;
    background-blend-mode: overlay;
}
.GradiantBorder_innerContainer{
    box-sizing: border-box;
    background: #0f0d1e;
    border-radius: 25px;
}
.Brands_brandContainer{
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 16px;
    width: 320px;
    height: 113px;
    background: #1b182d;
    border-radius: 25px;
    color: #777187;
}
.Brands_logoWithText{
    display: flex;
    width: 100%;
}
.Brands_name{
    margin-top: 5px;
    margin-left: 12px;
}
.h5 {
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    letter-spacing: .2px;
    color: #fff;
    font-family: Poppins,sans-serif;
    font-style: normal;
    text-align: center;
}
.Brands_logoContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    background: #fff;
    height: 60px;
    width: 60px;
}
.Brands_learnMoreContainer{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
}
.Brands_learnMore{
    font-family: Poppins,sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 27px;
    display: flex;
    align-items: center;
    letter-spacing: .5px;
}
.Brands_noGradient{
display: none;
margin-bottom: 16px;
}
.Brands_seeMore{
    cursor: pointer;
    margin-top: 26px;
    font-family: Poppins,sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    letter-spacing: .5px;
    text-transform: uppercase;
    color: #00ffb4;
}
.Partnerships_readAboutContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 31px;
}
a {
    color: inherit;
    text-decoration: none;
}
.Partnerships_readAboutText{
    transition: margin .2s ease-in;
    font-family: Poppins,sans-serif;
    margin-right: 8px;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 27px;
    text-align: center;
    letter-spacing: .5px;
    color: #fff;
}

.Community_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 932px;
    width: 100%;
    margin-bottom: 210px;
    position: relative;
    padding-left: 220px;
}
.Community_headline{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:center;
}
.Community_title{
    margin-top: 20px;
}
.h6 {
    font-family: Poppins,sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    display: flex;
    text-align: center;
    justify-content: center;
    letter-spacing: 1.5px;
    color: #4d495d;
}
    h2{    
    line-height:135%;
    font-size: 50px;

}
.Community_paragraph{
    max-width: 562px;
    text-align: center;
    font-family: Poppins,sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 25px;
    letter-spacing: .5px;
    color: #b4b4c7;
}
p{
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    text-align: center;
    justify-content: center;
}
.Community_boxs {
    max-width: 932px;
    width: 100%;
    display: flex;
    align-items: center;
    margin-top: 65px;
}
.Community_yeildTitle{
    display: flex;
    flex-direction: column;
}
.Community_yeildtitleText,.community_yeildParagraph{
    font-family: Poppins,sans-serif;
    font-style: normal;
    font-weight: 500;
    letter-spacing: .5px;
    color: #191531;
    font-size: 32px;
    line-height: 33px;
}
.community_yeildParagraph{
    max-width: 205px;
    margin-top: 16px;
    font-size: 16px;
    line-height: 25px;
}
.Community_earnYieldContainer{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
    padding: 32px;
    width: 387px;
    height: 409.02px;
    background: linear-gradient(123.71deg,#fff,rgba(189,179,255,0) 50.21%),linear-gradient(122.69deg,#8769ff 8.82%,#67ffd5 109.84%);
    box-shadow: inset 0 4px 30px 10px rgb(84 52 208 / 50%);
    -webkit-backdrop-filter: blur(30px);
    backdrop-filter: blur(30px);
    border-radius: 25px;
}
.Community_rightBox{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 20px;
    align-items: center;
}
.Community_developersMain{
    position: relative;
    margin-bottom: 20px;
}

.GradiantBorder_container{
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1px;
    background: #3e385b;
    border-radius: 25px;
    background-blend-mode: overlay;
}
.GradiantBorder_innerContainer{
    box-sizing: border-box;
    background: #0f0d1e;
    border-radius: 25px;
}
.Community_developersContainer {
    z-index: 3;
    width: 513px;
    height: 195px;
    background: linear-gradient(181.12deg,rgba(119,113,135,.15) .96%,rgba(119,113,135,0) 139.33%);
    border-radius: 25px;
}

.Community_developersLineGraphic{
    z-index: 1;
    width: 100%;
    height: 100%;
}

.Community_BoxTitleContainer{
    padding: 32px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 100%;
}
.Community_boxDescription, .Community_boxTitle{
    font-family: Poppins,sans-serif;
    font-style: normal;
    letter-spacing: .5px;
   
    
}
.Community_boxTitle{
    font-weight: 500;
    font-size: 32px;
    line-height: 45px;
    margin-bottom: 4px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #fff;
}
.Community_boxDescription{
    font-weight:400px;
    font-size: 16px;
    line-height: 27px;
    color: #d8d8ea;
}
.Team_container{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    margin-bottom: 220px;

}
.Team_topContainer{
    display: flex;
    max-width: 1148px;
    width:100%;
    padding-left: 150px;
}
.Team_headline{
    z-index: 6;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    min-width: 333px;
}

.Title_title {
    max-width: 333px;
    margin-top: 20px;
    text-align: start;
    margin-bottom: 78px;
}
.Team_CTAContainer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100px;
}
.Team_slidebar{
    display: flex;
    margin-left: 49px;
}
.TeamMember_sliderContainer{
    display: flex;
    transition: 1s;
    transition-timing-function: ease-out;
}
.Teammember_container{
    position: relative;
    display: flex;
    flex-direction: column;
    margin-right: 32px;
    width: 353px;
    min-width: 353px;
    height: 446px;
    padding: 32px;
    opacity: 1;
    background: linear-gradient(181.12deg,rgba(119,113,135,.15) .96%,rgba(119,113,135,0) 139.33%);
    border: 1px solid #373155;
    box-sizing: border-box;
    border-radius: 25px;
    transition: .5s;
    transition-timing-function: ease-in;
}
.Team_memberInvisible{
    mix-blend-mode: luminosity;
    opacity: .2;
}
.TeamMember_linkedInLogo {
    cursor: pointer;
    position: absolute;
    bottom: 32px;
    right: 32px;
    filter: invert(52%) sepia(11%) saturate(593%) hue-rotate(215deg) brightness(84%) contrast(86%);
}
.Team_workedOnContainer{
    display: flex;
    margin-top: 58px;
    padding-left: 150px;
}
.Team_workedAtText{
    display: flex;
    max-width: 246px;
    font-family: Poppins,sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 25px;
    letter-spacing: .5px;
    height: 50px;
    color: #dadaeb;
}
.Team_companyLogo {
    margin-right: 30px;
}
.Team_companies{
    display: flex;
    align-items: center;
    margin-left: 136px;
    opacity: .2;
}
.TeamMember_avatar{
    width: 105px;
    height: 105px;
    margin-top: -49px;
    margin-bottom: 28px;
}
.TeamMember_name{
    display: flex;
    align-items: center;
    font-family: Poppins,sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 27px;
    letter-spacing: .5px;
    color: #fff;
    margin-bottom: 5px;
}
.Teammember_position,.TeamMember_description {
        font-family: Poppins,sans-serif;
        font-style: normal;
        font-weight: 400;
        letter-spacing: .5px;
    }
    .Teammember_position{
        font-size: 14px;
        line-height: 27px;
        color: #777187;
        margin-bottom: 32px;
    }
    .TeamMember_linkedInLogo{
        cursor: pointer;
        position: absolute;
        bottom: 32px;
        right: 32px;
        filter: invert(52%) sepia(11%) saturate(593%) hue-rotate(215deg) brightness(84%) contrast(86%);
    }
    

.Team_line{
    margin-right: 15px;
    width: 4px;
    background: linear-gradient(179.97deg,#67ffd5 -61.13%,#bdb3ff 159.45%);
}

.Testimonials_container{
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(181.2deg,rgba(119,113,135,.15) -14.28%,rgba(119,113,135,0) 93.87%);
    width: 100vw;
    height: 691px;
    padding: 94px 0;
}
.Testimonials_title{
    font-family: Poppins,sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 27px;
    text-align: center;
    letter-spacing: .5px;
    color: #fff;
    margin-bottom: 92px;
}
.Testimonials_slidebar{
    display: flex;
    align-items: center;
}
.Testimonials_caretContainer    {
    width: 91px;
}

.Testimonials_sliderMainContaine{
    overflow: hidden;
    padding-top: 40px;
    display: flex;
    max-width: 800px;
}
.Testimonials_sliderContentWrapper{
    display: flex;
    transition: .5s;
}
.Testimonials_boxContainer{
    width: 800px;
    height: 326px;
    padding: 1px;
    border-radius: 25px;
    margin-right: 60px;
    background-blend-mode: overlay;
    background: linear-gradient(115.26deg,#4010ff 4.79%,#67ffd5 99.36%),linear-gradient(119.78deg,#fff 5.43%,hsla(0,0%,100%,0) 75.01%);
}
.Testimonials_innerBox{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 65px;
    width: 100%;
    height: 100%;
    background: #141324;
    border-radius: 25px;
}
.Testimonials_avatarBox{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 355px;
    height: 115px;
    padding: 0 29px;
    background: #232133;
    border: 1px solid #4c4768;
    box-sizing: border-box;
    border-radius: 25px;
    margin-top: -93px;
    z-index: 3;
}
.Testimonials_personData{
    display: flex;
    flex-direction: column;
}

.Testimonials_personName{
    font-family: Poppins,sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
    letter-spacing: .5px;
    color: #fff;
}
.Testimonials_personCompany, .Testimonials_personPosition{
    font-family: Poppins,sans-serif;
    font-style: normal;
    font-size: 14px;
    line-height: 27px;
    letter-spacing: .5px;
}
.Testimonials_personCompany{
    cursor: pointer;
    font-weight: 500;
    text-align: left;
    color: #beb3ff;
}
.Testimonials_personPosition{
    font-weight: 400;
    color: #777187;
}
.Testimonials_boxParagraph{
    max-width: 552px;
    font-family: Poppins,sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 25px;
    margin-top: 45px;
    text-align: center;
    letter-spacing: .5px;
    color: #b4b4c7;
}
.Testimonials_caretLeft {
    cursor: pointer;
    width: 24.69px;
    height: 49.38px;
    margin-left: 67px;
}
.Testimonials_linesContainer {
    display: flex;
    margin-top: 42px;
}
.Testimonials_line{
    cursor: pointer;
    width: 26px;
    height: 0;
    border: 2px solid #3d3760;
    margin: 0 6px;
    border-radius: 10px;
}

.Testimonials_line:hover, .Testimonials_selectedLine {
    cursor: pointer;
    width: 26px;
    height: 0;
    border: 2px solid #00ffb4;
    margin: 0 6px;
    border-radius: 10px;
}
.Tech_container{
    display: flex;
    flex-direction: column;
    margin-top: 108px;
    margin-bottom: 212px;
}
.Tech_title {
    font-family: Poppins,sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 27px;
    text-align: center;
    letter-spacing: .5px;
    color: #fff;
}
.Tech_logoContainer {
    display: flex;
    align-items: center;
    margin-top: 63px;
    max-width: 716px;
    width: 100%;
}
.Tech_ethereum {
    display: block;
    background-blend-mode: darken,normal;
    margin: 0 30px;
    width: 197px;
    height: 49px;
    background: url("https://www.pikpng.com/pngl/m/25-250900_ethereum-transparent-logo-clipart.png") no-repeat 50%;
    background-size: contain;
}
.Tech_enzyme{
    display: block;
    background-blend-mode: darken,normal;
    margin: 0 30px;
    width: 197px;
    height: 49px;
    background: url("https://www.bing.com/th?id=OIP.Sd-mA7kXf1XfSLfdGcCasQHaBL&w=376&h=59&c=8&rs=1&qlt=90&o=6&dpr=1.3&pid=3.1&rm=2") no-repeat 50%;
    background-size: contain;
}
.Tech_kleros {
    display: block;
    background-blend-mode: darken,normal;
    margin: 0 30px;
    width: 197px;
    height: 49px;
    background: url("https://www.bing.com/th?id=OIP.Ndzijx-Euzcxk0_g1HNi2QHaD7&w=195&h=103&c=8&rs=1&qlt=90&o=6&dpr=1.3&pid=3.1&rm=2") no-repeat 50%;
    background-size: contain;
}

.Form_container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 1119px;
    width: 100%;
    background: linear-gradient(181.12deg,rgba(119,113,135,.15) .96%,rgba(119,113,135,0) 139.33%);
    border: 1px solid #4c4768;
    box-sizing: border-box;
    border-radius: 25px;
    padding: 63px 0;
    margin-bottom: 156px;
}
.Form_title{
    margin-top: 16px;
    margin-bottom: 32px;
    font-family: Poppins,sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 27px;
    text-align: center;
    letter-spacing: .5px;
}
.Form_unsubscribe{
    font-family: Poppins,sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 25px;
    text-align: center;
    letter-spacing: .5px;
    color: #b4b4c7;
}

.Form_inputContainer{
    max-width: 518px;
    width: 100%;
    margin-top: 74px;
}
.Input_container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 57px;
    width: 100%;
    background: linear-gradient(182.67deg,rgba(119,113,135,.15) -113.79%,rgba(119,113,135,0) 238.53%);
    border: 1px solid #4c4768;
    box-sizing: border-box;
    border-radius: 10px;
    padding: 16px 0 16px 16px;
}
.Input_email{
    background-color: transparent;
    color:#fff;
    width:100%;
    font-size: 16px;
    border:none;

}
.btn-primary {
    color: #fff;
    background-color: #0d6efd;
    border-color: #0d6efd;
    border-radius: 10px;
}

.button_container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px 15px;
    font-size: 14px;
    font-weight: 500;
    cursor: pointer;
}
.Footer_container, .Footer_topPart{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}
.Footer_container{
    flex-direction: column;
    max-width: 1375px;
}
.Footer_topPart{
    padding-bottom: 28px;
    border-bottom: 1px solid #312e41;
}
.Footer_logoContainer{
    flex:1 1;
}
.Footer_mediaContainer,.Footer_logosDesktop{
    flex: 1 1;
    display: flex;
    align-items: center;
    justify-content: center;
}
.Footer_mediaSubContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 292px;
    width: 100%;
}

.Footer_mediaLogoContainer{
    position: relative;
    flex: 1 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.Footer_USFContainer{
    flex: 1 1;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.Footer_toolTipContainer{
    position: absolute;
    background: linear-gradient(162.23deg,rgba(119,113,135,.2) -13.65%,rgba(119,113,135,0) 218.94%);
    border-radius: 5px;
    padding: 5px 12px;
    top: -50px;
    font-family: Poppins,sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 22px;
    text-align: center;
    letter-spacing: .005em;
    color: #777187;
    display: none;
}

.Select_container {
    display: flex;
    align-items: center;
    position: relative;
}
.Footer_audit{
    cursor: pointer;
    display: flex;
    align-items: center;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    letter-spacing: .005em;
    text-align: center;
    color: #000;
    margin-right: 37px;
    filter: invert(52%) sepia(11%) saturate(593%) hue-rotate(215deg) brightness(84%) contrast(86%);
}

.Button__secondary{
    flex-direction: row;
     padding: 1.5px;
    border-radius: 10px;
    background-blend-mode: overlay;
    background: linear-gradient(115.26deg,#4010ff 4.79%,#67ffd5 99.36%),linear-gradient(119.78deg,#fff 5.43%,hsla(0,0%,100%,0) 75.01%);
}

.Button_container, .Button_primary{
    display: flex;
    align-items: center;
    justify-content: center;
}
.Button_container {
    padding: 13px 32px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
}

.Button_secondaryInnerBackground{
    width: 100%;
    background: #0f0d1e;
    border-radius: 10px;
}
.Button_innerContainer, .Button_secondaryInnerContainer{
    display: flex;
    justify-content: center;
    align-items: center;
}

.Button_secondaryInnerContainer{
    width: 100%;
    height: 100%;
    padding: 13px 32px;
    flex-direction: row;
}

.Footer_copyright{
    font-family: Poppins,sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    margin-top: 28px;
    margin-bottom: 61px;
    letter-spacing: .05em;
    color: #4d495d;
}